*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f5ed; 
    box-sizing: border-box;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}
ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:5% ;
    font-weight: 700;
}
nav ul li img{
    width: 70px;
   
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-left{
    width: 40%;

}
.hero-left h1{
    font-size:  60px; ;
}
.hero-left p{
    margin: 5% 0;
}
.hero-left button{
    padding: 15px 20px;
    font-size: 16px;
    color: rgb(243, 242, 245);
    background-color: #026302;
    font-weight: 600;
    border: none;
    border-radius: 10%;
}
button:hover{
    background-color: #f9f5ed;
    color: green;
}
