*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 5px purple;
    border-radius: 5px;
    background-color: yellowgreen;
}